@use 'base/variables' as v;
@use 'base/mixins' as m;


.favoritos{
    background-color: v.$grisClaro;
    padding: v.$separacion 0;

    &_heading{
        text-align: center;
        color: v.$secundario;
    }
    &_grid {
        @include m.tablet {
            @include m.grid(2,4rem);
        }
    }
}