@use 'base/variables' as v;
@use 'base/mixins' as m;

.repartidores{
    padding: v.$separacion 0;
    &_heading{
        text-align: center;
        color: v.$secundario;
    }
    &_grid{
        @include m.tablet{
            @include m.grid(2, v.$separacion)
        }
    }
    &_contenido{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    &_texto{
        line-height: 1.5;
        color: v.$secundario;
    }
    &_enlace{
        @include m.boton(v.$primario, v.$blanco)
    }
}